header{
    padding : 10px 0px;
    font-size: 1.0em;
    text-align: center;
    background-color: skyblue;

}
body {
    margin:0 auto;
    color: black;
    font: 20px sans-serif;
    background-color:lightgoldenrodyellow;
}
