header{
    padding : 10px 0px;
    font-size: 1.0em;
    text-align: center;

}
body {
    width:650px;
    margin:0 auto;
    color: black;
    font: 20px sans-serif;
    background-color:lightgoldenrodyellow;
}
main{
    margin-top: 50px;
    text-align: center;
}
footer{
    text-align: center;
    background-color: #38ff92;
}