header{
    padding : 10px 0px;
    font-size: 1.0em;
    text-align: center;

}
body {
    width:650px;
    margin:0 auto;
    color: black;
    font: 20px sans-serif;
    background-color:lightgoldenrodyellow;
}
main{
    margin-top: 50px;
}
section{
    margin:20px 0px;
    padding: 30px 20px 30px 20px;
    border: 2px solid #FFF;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888
}
li{
    text-align: center;
}
footer{
    text-align: center;
    background-color: #38ff92;
}