header{
    padding : 10px 0px;
    font-size: 1.0em;
    text-align: center;
    background-color: skyblue;
}
nav{
    display: grid;
    margin: 5px;
    padding: 10px 5px;
}
ul{
    grid-template-columns: repeat(1fr);
}
nav ul a{
    margin: 10px;
}
nav #t1 {
    float: right;
    margin: 0;
}
body {
    margin: auto;
    color: black;
    font: 20px sans-serif;
    background-color:lightgoldenrodyellow;
    max-width: 1140px;
    width: 100%;
}
h2{
    margin-top: 50px;
    text-align: center;
}
h3{
    text-align: center;
}
table {
    display: grid;
    font-size: 1em;
    margin: 10px;
    padding: 15px;
    width: 25%;
    margin-right:auto;
}
Text {
    grid-template-columns: repeat(6,1fr);
    font-size: 1rem;
    margin-bottom: 10px;
    border-spacing: 0; 
}

footer {
    padding : 10px 0px;
    text-align: center;
    background-color: #38ff92;
}
.main .table .text{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
main img
{
    width: 1140px;
    height: 550px;
    text-align: center;
}
@media only screen and (max-width : 1083px)
{
    main img{
        width: 1083px;
    }
}