header{
    padding : 10px 0px;
    font-size: 1.0em;
    text-align: center;
    background-color: skyblue;
}
nav{
    display: grid;
    margin: 5px;
    padding: 10px 5px;

}
ul{
    grid-template-columns: repeat(6,1fr);

}
body {
    margin:0 auto;
    color: black;
    font: 20px sans-serif;
    background-color:lightgoldenrodyellow;
}
h2{
    margin-top: 50px;
    text-align: center;
}
article {
    display: grid;
    grid-template-columns: 9fr 2fr;
    grid-auto-rows: 200px 200px 200px;
    grid-gap: 10px;
    margin: 5px;
    width: auto;
}

section {
    font-size: 2em;
    background-color: yellowgreen;
    padding: 10px;
    width: auto;
    text-align: center;
}
table {
    display: grid;
    font-size: 1em;
    margin: 1px;
    padding: 15px;
    width: 25%;
    margin-right:auto;
}
